.sidebar {
  width: 16%;
  height: 100%;
  border-radius: 8px 0 0 8px;
  background-color: #1b2137;
  color: #9faab7;
  min-width: 200px;
  position: relative;
}

.sidebar-image {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #090c12;
  border-top-left-radius: 8px
}

.sidebar-logo {
  height: 14px;
  width: 44px;
  margin-left: 20px;
  margin-right: 136px;
  margin-top: 30px;
  margin-bottom: 26px;
}

.sidebar-content {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px
}

.item-side {
  height: 18px;
  font-size: 14px;
  /* margin-top: 16px; */
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all .5s;
}

.item-side:hover {
  background-color: #212746;
  transform: scale(1.03)
}

.sidebar-item1:hover::before {
  transform: scale(2)
}

.item-side::before {
  height: 4px;
  width: 4px;
  margin-left: 20px;
  margin-right: 20px;
  transition: transform .5s;
  content: "\2022";

}

.active {
  background-color: #212746;
  color: #ffffff
}

.sidebar-item1::before {
  color: #fc297d;

}

.sidebar-item2::before {
  color: #fa6b41;

}

.sidebar-item3::before {
  color: #fecb2f;

}

.sidebar-item4::before {
  color: #74d20e;

}

.sidebar-logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #090c12;
  height: 18px;
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
  border-bottom-left-radius: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  bottom: 0px;
  width: 100%
}

.sidebar-logout:hover {
  background-color: #212746;
  transition: all .5s;
  transform: scale(1.03)
}

.sidebar-logout-icon {
  width: 20px;
  height: 18px;
  object-fit: contain;
  margin-left: 20px;
  margin-right: 10px;
  position: relative;
  margin-top: 5px
}

@media screen and (max-width:768px) {
  .sidebar {
    position: fixed;
    z-index: 10;
    width: 0px;
    min-width: 0px
  }

  /* .show-sidebar {
    display: block
  }

  .no-show-sidebar {
    display: none
  } */

  .overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #0000008a;
    z-index: 9;
  }


}