.orderTrackingSection-container {
  display: flex;
  flex-direction: column;
  width: 31.5%;
  height: 100%;
  min-width: 270px;
}

@media screen and (max-width:768px) {
  .orderTrackingSection-container {
    flex-direction: column-reverse
  }
}

@media screen and (max-width:650px) {
  .orderTrackingSection-container {
    width: 100%
  }
}