.open {
  display: none
}

.modal {
  display: none
}

.container {
  display: none
}

.close-modal {
  display: none
}

@media screen and (max-width:650px) {
  .open {
    display: flex;
    transition: all .5s;
    align-items: center;
    justify-content: center
  }

  .close-modal {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    z-index: 10;
    right: 18px;
    background-color: transparent;
    border: none;
  }

  .close-modal-icon {
    width: 20px;
    height: 20px;
  }


  .close {
    display: none
  }

  .modal {
    background: #0000009a;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    will-change: opacity, display
  }

  .container {
    width: 90%;
    height: auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: fixed;
    background: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
      0 7px 20px 0 rgba(0, 0, 0, 0.17);
  }
}