.mapSection {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 8px 8px 0;
  position: relative;
  max-width: 70%;
  width: 60%;
}

@media screen and (max-width:768px) {

  .mapSection {
    width: 68.5%;

  }
}

@media screen and (max-width:650px) {
  .mapSection {
    display: none
  }
}