.infoFloatingButton-container {
  width: 50px;
  height: 50px;
  border-radius: 35px;
  background-color: #21c59f;
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all .5s
}

.infoFloatingButton-container:hover {
  transform: scale(1.07);
}

@media screen and (max-width:650px) {
  .infoFloatingButton-container {
    bottom: 80px;
    right: 40px;
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width:425px) {
  .infoFloatingButton-container {
    width: 50px;
    height: 50px;
    right: 20px;
  }
}