.general-container {
  width: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: calc(100% - 40px);
  margin: 20px;
}

@media screen and (max-width:768px) {
  .general-container {
    width: 100%;
    height: 100%;
    margin: 0px
  }
}