.orderInfo-container {
  width: 61.5%;
  position: absolute;
  margin-left: 20px;
  min-width: 250px;
  border-radius: 8px;
  max-width: 485px;
  top: 114px;
  max-height: 540px;
}

.orderInfo-main-info {
  background-color: #ffffff;
  height: 132px;
  width: 100%;
  border-bottom: 1px solid #e5edef;
  border-radius: 8px 8px 0 0;
  z-index: 10
}

.orderInfo-state-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2.3%;
  padding-top: 8px;
  padding-bottom: 18px
}

.orderInfo-loading-spinner {
  width: 20px;
  height: 20px;
  object-fit: contain;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.orderInfo-state-description-container {
  display: flex;
  flex-direction: column;
  width: 63.5%
}

.orderInfo-state {
  font-size: 12px;
  height: 15px;
  color: #9faab7;
  margin: 0px
}

.orderInfo-state-description {
  line-height: 18px;
  font-size: 14px;
  font-weight: 900;
  color: #333333;
  margin: 0px
}

.orderInfo-show-button {
  width: 28px;
  height: 28px;
  object-fit: contain
}

.orderInfo-transport-info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.orderInfo-rappi-profile-container {
  display: flex;
  width: 11%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
}

.orderInfo-rappi-profile-pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: contain;
  border: 2px solid #ffffff;
  box-shadow: 0 3px 6px rgba(37, 37, 37, 0.16), 0 3px 6px rgba(37, 37, 37, 0.23);

}

.orderInfo-transport-info {
  display: flex;
  flex-direction: column;
  width: 75%
}

.orderInfo-rappi-info {
  font-size: 12px;
  height: 15px;
  color: #333333;
  margin: 0px
}

.orderInfo-contact {
  height: 15px;
  font-size: 12px;
  color: #9faab7;
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.orderInfo-open-address {
  width: 100%;
  height: 28%;
  background-color: rgba(247, 247, 247, 0.5);
  border-bottom: 1px solid #e5edef;
  display: flex;
  flex-direction: column
}

.open-address-main-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px
}

.open-address-location-icon {
  width: 20px;
  height: 24px;
  object-fit: contain
}

.orderInfo-first-address {
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 18px;
  font-size: 14px;
  color: #333333;
  margin-bottom: 5px
}

.orderInfo-first-address-detail {
  font-size: 12px;
  height: 15px;
  color: #9faab7;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.orderInfo-open-address-detail {
  font-size: 12px;
  color: #9faab7;
  line-height: 15px;
  margin: 0px;
  width: 65.5%;
  margin-left: 18%;
  margin-top: 3.5%;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 16px;
}

.orderInfo-close-address {
  width: 100%;
  height: 13.1%;
  border-bottom: 1px solid #e5edef;
  display: flex;
  align-items: center
}

.orderInfo-address-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 15px;
  padding-top: 15px
}

.orderInfo-id-price-container {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 18%;
}

.orderInfo-id-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 18px;
  font-size: 14px;
  color: #7d7d7d;
  justify-content: space-between;
}

.orderInfo-price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 18px;
  font-size: 14px;
  font-weight: 900;
  color: #333333;
  margin-top: 10px;
  justify-content: space-between
}

.orderInfo-divider {
  background-color: #ffffff;
  padding-bottom: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: min-content;
  z-index: -1
}

@media screen and (max-width:650px) {
  .orderInfo-container {
    padding-bottom: 0px
  }
}

@media screen and (max-width:650px) {
  .orderInfo-container {
    position: static;
    margin: 0px;
    width: 100%;
    border-radius: 8px;
    padding-bottom: 15px;
  }

  .orderInfo-divider {
    opacity: 1 !important
  }

  .orderInfo-show-button {
    display: none
  }

  .orderInfo-rappi-profile-container {
    margin-right: 5%
  }

  .orderInfo-loading-spinner {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 9%;
    margin-left: 5%;
  }

  .orderInfo-state-container {
    justify-content: unset
  }
}