.liveTrackignSection-container {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  background-color: #212746;
}

.liveTrackignSection-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  color: #ffffff;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 19px;
  justify-content: space-between;
  margin-bottom: 20px
}

.liveTrackignSection-info-icon {
  width: 23px;
  height: 22px;
  object-fit: contain
}

.liveTrackingSection-menu-button {
  display: none
}

.menu-button {
  display: none
}


@media screen and (max-width:768px) {
  .liveTrackingSection-menu-button {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
  }

  .menu-button {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 20px
  }

  .liveTrackignSection-title-container {
    margin-top: 0px
  }

  .liveTrackignSection-container {
    height: 90%;
  }
}