.orderTracking-container {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #131727;
  background-color: #212746;
  color: #9faab7;
  font-size: 14px;
  width: 100%
}

.orderTracking-content {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  width: 100%;
  height: -webkit-fill-available;
  align-items: center
}

.orderTracking-item {
  width: 33%;
  line-height: 16px;
  padding-top: 26px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all .5s;
  padding-bottom: 23px
}

.orderTracking-item:hover {
  color: #21c59f;
  transform: scale(1);
}

.orderTracking-item-active {
  color: #21c59f;
  border-bottom: 2px solid #21c59f
}

@media screen and (max-width:768px) {
  .orderTracking-container {
    height: 10%;
  }
}