.liveTrackingInfo-container {
  width: calc(100% - 40px);
  height: auto;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 15px;
}

.liveTrackingInfo-container::before {
  content: "";
  width: 0;
  height: 0;
  left: 100%;
  top: 22px;
  position: absolute;
  border-top: 10px solid transparent;
  border-left: 10px solid #ffffff;
  border-bottom: 10px solid transparent;
}

.liveTrackingInfo-id-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 22px;
  margin-left: 15px;
  justify-content: space-between;
  margin-right: 17.5px;
  margin-bottom: 23px
}

.liveTrackingInfo-id {
  font-size: 14px;
  font-weight: 900;
  color: #333333
}

.liveTrackingInfo-searching-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #7d7d7d;
  font-size: 12px;
  line-height: 15px;
  height: 15px;

}

.liveTrackingInfo-loading-spinner {
  width: 12px;
  height: 12px;
  object-fit: contain;
  position: relative;
  margin-top: 4px;
  animation: rotation 2s infinite linear;
  transform-origin: 45% 38%;
}

.liveTrackingInfo-searching-text {
  width: 85px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
  text-align: center;
  letter-spacing: 0
}

.liveTrackingInfo-address-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.liveTrackingInfo-location-icon {
  width: 20px;
  height: 24px;
  margin-left: 20px;
  margin-right: 10px
}

.liveTrackingInfo-address-order-container {
  display: flex;
  flex-direction: column;
  width: 76%;
  margin-bottom: 3%
}


.liveTrackingInfo-address {
  margin: 0px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 18px;
  font-size: 14px;
  color: #333333;
}

.liveTrackingInfo-order {
  height: 15px;
  font-size: 12px;
  color: #9faab7;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px
}

.liveTrackingInfo-buttons-container {
  display: none
}

@keyframes rotation {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@media screen and (max-width:650px) {
  .liveTrackingInfo-container::before {
    display: none
  }

  .liveTrackingInfo-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    justify-content: flex-end;
    margin-right: 15.5px
  }

  .liveTrackingInfo-map-button {
    height: 30px;
    font-size: 14px;
    color: #ffffff;
    background-color: #21c59f;
    border: none;
    margin: 5px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }

  .liveTrackingInfo-details-button {
    height: 30px;
    font-size: 14px;
    color: #ffffff;
    background-color: #f75d63;
    border: none;
    margin: 5px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }
}